<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.channelsoft.ems.nursing.nursingPlan.mapper.NursingPlanPublicMapper" >
  <resultMap id="BaseResultMap" type="com.channelsoft.ems.nursing.nursingPlan.po.PublicServiceItemPo" >
    <id column="FID" property="fid" jdbcType="VARCHAR" />
    <result column="Fnursing_homeID" property="fnursingHomeid" jdbcType="VARCHAR" />
    <result column="FAuditorID" property="fauditorid" jdbcType="VARCHAR" />
    <result column="FAuditTime" property="faudittime" jdbcType="TIMESTAMP" />
    <result column="FCreatorID" property="fCreatorID" jdbcType="VARCHAR" />
    <result column="FCreateTime" property="fCreateTime" jdbcType="TIMESTAMP" />
    <result column="FModifierID" property="fModifierID" jdbcType="VARCHAR" />
    <result column="FModificationTime" property="fModifierTime" jdbcType="TIMESTAMP" />
    <result column="FRemarks" property="fRemarks" jdbcType="VARCHAR" />
    <result column="Fnumber" property="fnumber" jdbcType="VARCHAR" />
    <result column="Fstatus" property="fstatus" jdbcType="VARCHAR" />
    <result column="FserviceitemID" property="fserviceitemid" jdbcType="VARCHAR" />
    <result column="FserviceStartDate" property="fservicestartdate" jdbcType="TIMESTAMP" />
    <result column="FserviceEndDate" property="fserviceenddate" jdbcType="TIMESTAMP" />
    <result column="FroomID" property="froomid" jdbcType="VARCHAR" />
    <result column="fsecplanExcluddate" property="fsecplanExcluddate" jdbcType="TIMESTAMP" />
    <result column="Fexecutecycle" property="Fexecutecycle" jdbcType="INTEGER" />
    <result column="FServiceGroupID" property="fServiceGroupID" jdbcType="VARCHAR" />
    <result column="serviceGroupName" property="serviceGroupName" jdbcType="VARCHAR" />
    <result column="FExcludtime" property="fExcludtime" jdbcType="INTEGER" />
    <result column="FexecuteType" property="fExecuteType" jdbcType="VARCHAR" />
    <result column="Fexecutecycle" property="fExecutecycle" jdbcType="INTEGER" />
    <result column="FexecuteQty" property="fExecuteQty" jdbcType="INTEGER" />
    <result column="Fexecutetime" property="fExecutetime" jdbcType="TIMESTAMP" />
    <result column="FusedStatus" property="fUsedStatus" jdbcType="VARCHAR" />
    <result column="Fname" property="fName" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="RoomBaseResultMap" type="com.channelsoft.ems.nursing.nursingPlan.po.RoomPo" >
    <id column="FID" property="fid" jdbcType="INTEGER" />
    <result column="FNursingHomeID" property="fNursingHomeID" jdbcType="INTEGER" />
    <result column="FBuildingID" property="fBuildingID" jdbcType="VARCHAR" />
    <result column="FFLoorID" property="fFLoorID" jdbcType="VARCHAR" />
    <result column="FRoomNumber" property="fRoomNumber" jdbcType="VARCHAR" />
    <result column="FRoomName" property="fRoomName" jdbcType="VARCHAR" />
    <result column="FRoomType" property="fRoomType" jdbcType="VARCHAR" />
    <result column="FRoomOrientation" property="fRoomOrientation" jdbcType="VARCHAR" />
    <result column="FRoomPrice" property="fRoomPrice" jdbcType="DECIMAL" />
    <result column="FBedCount" property="fBedCount" jdbcType="INTEGER" />
    <result column="FManNumber" property="fManNumber" jdbcType="INTEGER" />
    <result column="FStatus" property="fStatus" jdbcType="VARCHAR" />
    <result column="FExplain" property="fExplain" jdbcType="VARCHAR" />
    <result column="FRemarks" property="fRemarks" jdbcType="VARCHAR" />
    <result column="fBuildingName" property="fBuildingName" jdbcType="VARCHAR" />
    <result column="fFLoorName" property="fFLoorName" jdbcType="VARCHAR" />
  </resultMap>
  
   <resultMap id="ServiceItemBaseResultMap" type="com.channelsoft.ems.nursing.nursingProject.po.NursingProjectPo">
        <id column="FID" jdbcType="VARCHAR" property="fid"/>
        <result column="Fnursing_homeID" property="fNursingHomeID" jdbcType="VARCHAR" />
        <result column="FAuditorID" property="fAuditorID" jdbcType="VARCHAR" />
        <result column="FAuditTime" property="fAuditTime" jdbcType="TIMESTAMP" />
        <result column="FCreatorID" property="fCreatorID" jdbcType="VARCHAR" />
        <result column="FCreateTime" property="fCreateTime" jdbcType="TIMESTAMP" />
        <result column="FModifierID" property="fModifierID" jdbcType="VARCHAR" />
        <result column="FModificationTime" property="fModifierTime" jdbcType="TIMESTAMP" />
        <result column="FRemarks" property="fRemarks" jdbcType="VARCHAR" />
        <result column="Fnumber" property="fNumber" jdbcType="VARCHAR" />
        <result column="Fstatus" property="fstatus" jdbcType="VARCHAR" />
        <result column="FServiceGroupID" property="fServiceGroupID" jdbcType="VARCHAR" />
        <result column="FexecuteType" property="fExecuteType" jdbcType="VARCHAR" />
        <result column="Fexecutecycle" property="fExecutecycle" jdbcType="INTEGER" />
        <result column="FexecuteQty" property="fExecuteQty" jdbcType="INTEGER" />
        <result column="Fexecutetime" property="fExecutetime" jdbcType="TIMESTAMP" />
        <result column="FStarteDate" property="fStarteDate" jdbcType="TIMESTAMP" />
        <result column="FEndDate" property="fEndDate" jdbcType="TIMESTAMP" />
        <result column="Fname" property="fName" jdbcType="VARCHAR" />
        <result column="serviceGroupName" property="serviceGroupName" jdbcType="VARCHAR" />
        <result column="FExcludtime" property="fExcludtime" jdbcType="INTEGER" />
        <result column="FserviceType" property="fserviceType" jdbcType="VARCHAR" />
    </resultMap>
  
  <sql id="Base_Column_List" >
    FID, Fnursing_homeID, FAuditorID, FAuditTime, FCreatorID, FCreateTime, FModifierID, 
    FModificationTime, FRemarks, Fnumber, Fstatus, FserviceitemID, FserviceStartDate, 
    FserviceEndDate, Froomid
  </sql>
  
  <select id="queryList" parameterType="com.channelsoft.ems.nursing.nursingPlan.po.PublicServiceItemPo" resultMap="BaseResultMap">
        SELECT 
		 DISTINCT(si.FServiceGroupID) AS FServiceGroupID,
		 sg.Fname AS serviceGroupName,
		 sg.FserviceType AS fserviceType
		FROM
		  t_kfgl_publicserviceitem psi 
		  LEFT JOIN t_kfgl_serviceitem si 
		  ON psi.FserviceitemID=si.FID
		  LEFT JOIN t_kfgl_servicegroup sg 
		  ON si.FServiceGroupID=sg.fid
		<where>
			1=1 and Froomid=#{froomid}
			<if test="fServiceGroupID !=null and fServiceGroupID !=''">
				and si.FServiceGroupID=#{fServiceGroupID}
			</if>
			<if test="fserviceType !=null and fserviceType !=''">
				and sg.fserviceType=#{fserviceType}
			</if>
		</where> 
		ORDER BY sg.FserviceType 
       <!-- <if test="page !=null and pageSize !=null ">
       		limit #{page} , #{pageSize} 
       </if> -->
    </select>
	
	<select id="getTotalSize" parameterType="com.channelsoft.ems.nursing.nursingPlan.po.PublicServiceItemPo" resultType="java.lang.Integer">
        SELECT 
		  count(DISTINCT(si.FServiceGroupID))
		FROM
		  t_kfgl_publicserviceitem psi 
		  LEFT JOIN t_kfgl_serviceitem si 
		  ON psi.FserviceitemID=si.FID
		  LEFT JOIN t_kfgl_servicegroup sg 
		  ON si.FServiceGroupID=sg.fid
		<where>
			1=1 and psi.Froomid=#{froomid}
			<if test="fServiceGroupID !=null and fServiceGroupID !=''">
				and si.FServiceGroupID=#{fServiceGroupID}
			</if>
			<if test="fserviceType !=null and fserviceType !=''">
				and sg.fserviceType=#{fserviceType}
			</if>
		</where>  
    </select>
  
  <select id="queryDetailList" parameterType="com.channelsoft.ems.nursing.nursingPlan.po.PublicServiceItemPo" resultMap="BaseResultMap">
       SELECT 
		  si.*,
		  si.fid as id,
		  psi.Fstatus AS FusedStatus,
		  sg.Fname AS serviceGroupName,
		  sg.FserviceType AS fserviceType   
		FROM
		  t_kfgl_publicserviceitem psi 
		  LEFT JOIN t_kfgl_serviceitem si 
		  ON psi.FserviceitemID=si.FID
		  LEFT JOIN t_kfgl_servicegroup sg 
		  ON si.FServiceGroupID=sg.fid
  
		 	<where>
		 		si.fServiceGroupID=#{fServiceGroupID} and psi.Froomid=#{froomid}
		 	</where>
		 	GROUP BY si.FID
		 	order by si.FCreateTime desc
    </select>  
  
  <select id="queryRoomList" parameterType="com.channelsoft.ems.nursing.nursingPlan.po.RoomPo" resultMap="RoomBaseResultMap">
  		  SELECT 
			r.*,
			bd.FBuildingName,
			f.FFLoorName
		 FROM t_room r
		 LEFT JOIN t_floor f on r.FFLoorID=f.FID
		 LEFT JOIN t_building bd ON bd.fid=r.FBuildingID
	 <where>
	 	1=1
	 	<if test="fBuildingName !=null and fBuildingName !='' ">
       		and bd.fBuildingName=#{fBuildingName} 
	     </if>
	     <if test="fFLoorName !=null and fFLoorName !='' ">
	       		and f.fFLoorName=#{fFLoorName} 
	     </if>
	     <if test="fRoomName !=null and fRoomName !='' ">
       			and r.fRoomName=#{fRoomName} 
	     </if>
	      <if test="fcurUserID !=null and fcurUserID !='' ">
	       		and r.fid in (<include refid="ownerRoom"></include>) 
	     </if> 
	 </where>
	 <if test="page !=null and pageSize !=null ">
       		limit #{page} , #{pageSize} 
     </if> 
  </select>
  
  <sql id="ownerRoom">
		SELECT 
	      ah.FHomeID AS roomid 
	    FROM
	      s_user u 
	      INNER JOIN t_arrgng_home ah 
	        ON u.employ_id = ah.FStaffID 
	    WHERE u.u_id = #{fcurUserID}
  </sql>
  
  <select id="queryRoomTotal" parameterType="com.channelsoft.ems.nursing.nursingPlan.po.RoomPo" resultType="java.lang.Integer">
  		  SELECT 
			count(*)
		 FROM t_room r
		 LEFT JOIN t_floor f on r.FFLoorID=f.FID
		 LEFT JOIN t_building bd ON bd.fid=r.FBuildingID
	  <where>
	 	1=1
	 	<if test="fBuildingName !=null and fBuildingName !='' ">
       		and bd.fBuildingName=#{fBuildingName} 
	     </if>
	     <if test="fFLoorName !=null and fFLoorName !='' ">
	       		and f.fFLoorName=#{fFLoorName} 
	     </if>
	     <if test="fRoomName !=null and fRoomName !='' ">
       			and r.fRoomName=#{fRoomName} 
	     </if>
	     <if test="fcurUserID !=null and fcurUserID !='' ">
	       		and r.fid in (<include refid="ownerRoom"></include>) 
	     </if> 
	 </where>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_kfgl_publicserviceitem
    where FID = #{fid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_kfgl_publicserviceitem
    where FID = #{fid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.channelsoft.ems.nursing.nursingPlan.po.PublicServiceItemPo" >
    insert into t_kfgl_publicserviceitem (FID, Fnursing_homeID, FAuditorID, 
      FAuditTime, FCreatorID, FCreateTime, 
      FModifierID, FModificationTime, FRemarks, 
      Fnumber, Fstatus, FserviceitemID, 
      FserviceStartDate, FserviceEndDate, 
      Froomid)
    values (#{fid,jdbcType=VARCHAR}, #{fnursingHomeid,jdbcType=VARCHAR}, #{fauditorid,jdbcType=VARCHAR}, 
      #{faudittime,jdbcType=TIMESTAMP}, #{fCreatorID,jdbcType=VARCHAR}, #{fCreateTime,jdbcType=TIMESTAMP}, 
      #{fModifierID,jdbcType=VARCHAR}, #{fModifierTime,jdbcType=TIMESTAMP}, #{fRemarks,jdbcType=VARCHAR}, 
      #{fnumber,jdbcType=VARCHAR}, #{fstatus,jdbcType=VARCHAR}, #{fserviceitemid,jdbcType=VARCHAR}, 
      #{fservicestartdate,jdbcType=TIMESTAMP}, #{fserviceenddate,jdbcType=TIMESTAMP}, 
      #{froomid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.channelsoft.ems.nursing.nursingPlan.po.PublicServiceItemPo" >
    insert into t_kfgl_publicserviceitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        FID,
      </if>
      <if test="fnursingHomeid != null" >
        Fnursing_homeID,
      </if>
      <if test="fauditorid != null" >
        FAuditorID,
      </if>
      <if test="faudittime != null" >
        FAuditTime,
      </if>
      <if test="fCreatorID != null" >
        FCreatorID,
      </if>
      <if test="fCreateTime != null" >
        FCreateTime,
      </if>
      <if test="fModifierID != null" >
        FModifierID,
      </if>
      <if test="fModifierTime != null" >
        FModificationTime,
      </if>
      <if test="fRemarks != null" >
        FRemarks,
      </if>
      <if test="fnumber != null" >
        Fnumber,
      </if>
      <if test="fstatus != null" >
        Fstatus,
      </if>
      <if test="fserviceitemid != null" >
        FserviceitemID,
      </if>
      <if test="fservicestartdate != null" >
        FserviceStartDate,
      </if>
      <if test="fserviceenddate != null" >
        FserviceEndDate,
      </if>
      <if test="froomid != null" >
        Froomid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="fnursingHomeid != null" >
        #{fnursingHomeid,jdbcType=VARCHAR},
      </if>
      <if test="fauditorid != null" >
        #{fauditorid,jdbcType=VARCHAR},
      </if>
      <if test="faudittime != null" >
        #{faudittime,jdbcType=TIMESTAMP},
      </if>
      <if test="fCreatorID != null" >
        #{fCreatorID,jdbcType=VARCHAR},
      </if>
      <if test="fCreateTime != null" >
        #{fCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fModifierID != null" >
        #{fModifierID,jdbcType=VARCHAR},
      </if>
      <if test="fModifierTime != null" >
        #{fModifierTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fRemarks != null" >
        #{fRemarks,jdbcType=VARCHAR},
      </if>
      <if test="fnumber != null" >
        #{fnumber,jdbcType=VARCHAR},
      </if>
      <if test="fstatus != null" >
        #{fstatus,jdbcType=VARCHAR},
      </if>
      <if test="fserviceitemid != null" >
        #{fserviceitemid,jdbcType=VARCHAR},
      </if>
      <if test="fservicestartdate != null" >
        #{fservicestartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fserviceenddate != null" >
        #{fserviceenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="froomid != null" >
        #{froomid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.channelsoft.ems.nursing.nursingPlan.po.PublicServiceItemPo" >
    update t_kfgl_publicserviceitem
    <set >
      <if test="fnursingHomeid != null" >
        Fnursing_homeID = #{fnursingHomeid,jdbcType=VARCHAR},
      </if>
      <if test="fauditorid != null" >
        FAuditorID = #{fauditorid,jdbcType=VARCHAR},
      </if>
      <if test="faudittime != null" >
        FAuditTime = #{faudittime,jdbcType=TIMESTAMP},
      </if>
      <if test="fCreatorID != null" >
        FCreatorID = #{fCreatorID,jdbcType=VARCHAR},
      </if>
      <if test="fCreateTime != null" >
        FCreateTime = #{fCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fModifierID != null" >
        FModifierID = #{fModifierID,jdbcType=VARCHAR},
      </if>
      <if test="fModifierTime != null" >
        FModificationTime = #{fModifierTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fRemarks != null" >
        FRemarks = #{fRemarks,jdbcType=VARCHAR},
      </if>
      <if test="fnumber != null" >
        Fnumber = #{fnumber,jdbcType=VARCHAR},
      </if>
      <if test="fstatus != null" >
        Fstatus = #{fstatus,jdbcType=VARCHAR},
      </if>
      <if test="fserviceitemid != null" >
        FserviceitemID = #{fserviceitemid,jdbcType=VARCHAR},
      </if>
      <if test="fservicestartdate != null" >
        FserviceStartDate = #{fservicestartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fserviceenddate != null" >
        FserviceEndDate = #{fserviceenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="froomid != null" >
        Froomid = #{froomid,jdbcType=VARCHAR},
      </if>
      <if test="fexecutecycle != null" >
        fexecutecycle = #{fexecutecycle,jdbcType=INTEGER},
      </if>
      <if test="fsecplanExcluddate != null" >
        fsecplanExcluddate = #{fsecplanExcluddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FID = #{fid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.channelsoft.ems.nursing.nursingPlan.po.PublicServiceItemPo" >
    update t_kfgl_publicserviceitem
    set Fnursing_homeID = #{fnursingHomeid,jdbcType=VARCHAR},
      FAuditorID = #{fauditorid,jdbcType=VARCHAR},
      FAuditTime = #{faudittime,jdbcType=TIMESTAMP},
      FCreatorID = #{fCreatorID,jdbcType=VARCHAR},
      FCreateTime = #{fCreateTime,jdbcType=TIMESTAMP},
      FModifierID = #{fModifierID,jdbcType=VARCHAR},
      FModificationTime = #{fModifierTime,jdbcType=TIMESTAMP},
      FRemarks = #{fRemarks,jdbcType=VARCHAR},
      Fnumber = #{fnumber,jdbcType=VARCHAR},
      Fstatus = #{fstatus,jdbcType=VARCHAR},
      FserviceitemID = #{fserviceitemid,jdbcType=VARCHAR},
      FserviceStartDate = #{fservicestartdate,jdbcType=TIMESTAMP},
      FserviceEndDate = #{fserviceenddate,jdbcType=TIMESTAMP},
      Froomid = #{froomid,jdbcType=VARCHAR}
    where FID = #{fid,jdbcType=VARCHAR}
  </update>
  
  <select id="getNoSelectPublicServiceItem" parameterType="com.channelsoft.ems.nursing.nursingPlan.po.PublicServiceItemPo" resultMap="BaseResultMap">
  		select * from t_kfgl_publicserviceitem psi where psi.froomid=#{froomid} and psi.FserviceitemID not in(${fids})
  </select>
  
  <update id="updatePublicServiceItem" parameterType="com.channelsoft.ems.nursing.nursingPlan.po.PublicServiceItemPo">
  		update t_kfgl_publicserviceitem
  		<set>
	  		<if test="fstatus != null" >
	        	Fstatus = #{fstatus,jdbcType=VARCHAR},
	      	</if>
	  		<if test="fservicestartdate != null" >
		        FserviceStartDate = #{fservicestartdate,jdbcType=TIMESTAMP},
		    </if>
		    <if test="fserviceenddate != null" >
		       	FserviceEndDate = #{fserviceenddate,jdbcType=TIMESTAMP},
		    </if>
  		</set>
  		where froomid=#{froomid} and FserviceitemID in (${fids})
  </update>
  
    <select id="getAllRoom" resultType="com.channelsoft.ems.nursing.nursingPlan.po.RoomPo">
  		SELECT
			r.fid
	 	from t_Room r
		where 1=1
		<!-- and r.FStatus='1' -->
  </select>
  
  <select id="getPublicServiceItems" parameterType="com.channelsoft.ems.nursing.nursingPlan.po.PublicServiceItemPo" resultMap="BaseResultMap">
  		SELECT
			psi.*,
			om.FEndDate
		FROM
			t_kfgl_Publicserviceitem psi
		LEFT JOIN t_kfgl_serviceitem om ON psi.FserviceitemID = om.FID
		WHERE
			psi.Fstatus = '1'
		AND psi.FroomID = #{froomid}
		AND om.Fstatus='1'
		and TO_DAYS(psi.FserviceStartDate) &lt;=TO_DAYS(#{nowDate})
		and TO_DAYS(om.FStarteDate) &lt;=TO_DAYS(#{nowDate}) 
  </select>
  
  <select id="getAllServiceItem" resultMap="ServiceItemBaseResultMap">
  		SELECT
			si.*
		FROM
			t_kfgl_serviceitem si
		LEFT JOIN t_kfgl_servicegroup sg ON si.FServiceGroupID = sg.fid
		WHERE sg.FserviceType = '2'
  </select>
  
    <select id="checkServiceItemExist" resultType="java.lang.Integer">
  		SELECT
			count(1)
		FROM
			t_kfgl_publicserviceitem psi
		WHERE
			psi.FRoomID = #{froomid}
		AND psi.FserviceitemID = #{fserviceitemid}
  </select>
</mapper>